<?xml version="1.0" encoding="UTF-8"?>
<!-- member_mapper.xml : 회원(member)관리 관련 쿼리문이 들어간다. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accounting">

	<select id="Countpunum" resultType="Integer" parameterType = "Integer">
		select count(*) from purchase where PU_PNUM=#{v_pnum}
	</select>
	
	<select id="getPrice" resultType="Integer" parameterType = "Integer">
		select MAX(v_bid) from volunteer where V_PNUM=#{v_pnum} and v_ptteam = 1
	</select>	
	
	<select id="getPurchaseList" parameterType = "Integer" resultType="accounting" >
		select * from purchase inner join purchase_detail on purchase.PU_NUM = purchase_detail.PD_PUNUM order by pd_num
	</select>
	
	<select id="getPurchaseDList" parameterType = "Integer" resultType="accounting" >
		select * from purchase_detail where pd_punum = #{pd_punum} order by pd_num
		<!-- select * from purchase inner join purchase_detail on purchase.PU_NUM = purchase_detail.PD_PUNUM where pd_punum = #{pd_punum} order by pd_num -->
	</select>	
	<select id="getPurchaseCount" resultType="Integer">
		SELECT COUNT(*) FROM PRLIST
	</select>	
	<select id="getPurchaseMaxNum" resultType="Integer">
		select NVL(MAX(pu_num),0) FROM purchase
	</select>
	<insert id="insertPurchase" parameterType = "accounting">
      INSERT INTO purchase VALUES(#{pu_num},#{pu_money},#{pu_mid},#{pu_pnum})
   </insert>
   <select id="getPurchase_detailMaxNum" resultType="Integer">
		select NVL(MAX(pd_num),0) FROM purchase_detail
	</select>
	<insert id="insertPurchase_detail" parameterType = "accounting">
      INSERT INTO purchase_detail VALUES(#{pd_num},#{pd_punum},#{pd_mid},#{pd_money},#{pd_catagory})
   </insert>
    <select id="CheckPurchase" resultType="Integer" parameterType = "Integer">
	  select Count(pu_pnum) from purchase where pu_pnum=#{pu_pnum}
	</select>
	 <select id="getPu_num" resultType="Integer" parameterType = "Integer">
	  select pu_num from purchase where pu_pnum=#{pu_pnum}
	</select>
	
	<update id="purchaseComplate" parameterType="accounting">
		UPDATE purchase_detail SET pd_num = #{pd_num}, pd_punum = #{pd_punum}, pd_mid = #{pd_mid}, pd_money = #{pd_money}, pd_catagory = #{pd_catagory}  WHERE pd_punum = #{pnum}
	</update>
	<insert id="purchaseCommission" parameterType="accounting">
		INSERT INTO purchase_detail VALUES(#{pd_num},#{pd_punum},'admin',#{pd_money},'C')
	</insert>
	<insert id="purchaseDeposit" parameterType="accounting">
		INSERT INTO purchase_detail VALUES(#{pd_num},#{pd_punum},'admin',#{pd_money},'D')
	</insert>
	<insert id="purchaseHold" parameterType="accounting">
		INSERT INTO purchase_detail VALUES(#{pd_num},#{pd_punum},'admin',#{pd_money},'H')
	</insert>
	
	<select id="getHoldMoney" resultType="accounting" parameterType = "Integer">
	  select * from purchase p inner join purchase_detail d on p.pu_num = d.pd_punum where p.pu_pnum=#{pnum} AND d.pd_catagory='H'
	</select>
</mapper>