<?xml version="1.0" encoding="UTF-8"?>
<!-- board_mapper.xml :게시판관련 쿼리문 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="catagory">
	<select id="getCatagorycList1" resultType="catagory">
		SELECT * FROM project_catagory1
	</select>
	
	<select id="getCatagorycList21" resultType="catagory">
		SELECT * FROM project_catagory2 where pc2_pc1id=0
	</select>
	
	<select id="getCatagorycList22" resultType="catagory">
		SELECT * FROM project_catagory2 where pc2_pc1id=1
	</select>

</mapper>