<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Skill">
<select id="getSkillMaxNum" resultType="Integer">
		SELECT NVL(MAX(SK_NUM),0) FROM SKILL
	</select>
	
	<select id="getSkillList" parameterType="String" resultType="skill">
		SELECT * FROM SKILL WHERE SK_MID = #{m_id}
	</select>
	
	<insert id="insertSkill" parameterType="skill">
		INSERT INTO SKILL VALUES(#{sk_num},#{m_id},#{sk_name},#{sk_grade},#{sk_career})
	</insert>
	
	<delete id="deleteSkill" parameterType="skill">
		DELETE FROM SKILL WHERE SK_NUM = #{sk_num}
	</delete>
	
	<select id="getSkill" parameterType="String" resultType="skill">
		SELECT * FROM SKILL WHERE SK_MID=#{m_id}
	</select>
</mapper>